<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <h3 class="heading">Data Science </h3>

    <div class="info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat
        et quibusdam, ipsum temporibus hic enim maiores quia quis necessitatibus
        consequatur, tempore porro doloremque officiis ratione libero? Ab
        corrupti non doloremque tenetur ipsa ipsam cupiditate quas quae dicta!
        Sint animi velit magni fugiat molestias ipsum id quis iste saepe sit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta
        labore nam ea eum qui maiores, nostrum modi blanditiis aliquam? Harum
        quos, necessitatibus veniam culpa dolorem vitae ex itaque sint
        voluptatem qui, doloremque, incidunt reprehenderit non at nobis illum
        alias quasi optio. Sit eius dolor rerum quisquam vel pariatur
        cupiditate?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Neque et quis officia molestias animi mollitia doloremque. Tempora
        necessitatibus ipsum, quo veniam voluptate consequatur repudiandae ut.
        Culpa, quia impedit? Culpa, eaque ipsum rem nobis voluptates beatae sint
        iure non accusamus perferendis reiciendis ad iste itaque dolorem,
        tenetur et veniam ea aspernatur?
      </p>
    </div>

    <h2>TOOLS AND TECHNOLOGY</h2>

    <div class="tools-tech">
      <div class="img">
        <img src="images/bootstrap-stack.png" alt="" />
      </div>
      <div class="img">
        <img src="images/css.png" alt="" />
      </div>
      <div class="img">
        <img src="images/html5-3383934_1280.png" alt="" />
      </div>
      <div class="img">
        <img src="images/javascript-736400_1280.png" alt="" />
      </div>
    </div>


    <!-- roadmaps  -->

    <h2>ROADMAPS</h2>

    <div class="container">
      <div class="timeline">
        <ul>
          <li>
            <div class="timeline-content">
              <h3 class="date">20th may, 2010</h3>
              <h1>Pre-requisites:</h1>
              <p>
                <i class="fas fa-chevron-right black"></i>
                Have hold over Python or R(Basic to intermediate understanding)
              </p>
              <p>
                <i class="fas fa-chevron-right black"></i>
                Linear Algebra and Probability
              </p>
              <p>
                <i class="fas fa-chevron-right black"></i>
                Statistics(Basic knowledge in statistics)
              </p>
              <p>
                <i class="fas fa-chevron-right black"></i>
                Some basic knowledge about databases( As retrieval of data from
                a database is also a part of this)
              </p>
              <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p> -->
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h3 class="date">20th may, 2010</h3>
              <h1>Step 1 :</h1>
              <p>
                <i class="fas fa-chevron-right black"></i>
                You must learn about the different data driven libraries in
                Python. They are NumPy and Pandas. And Matplotlib or Seaborn for
                data visualisation. Data processing and visualisation is the
                core part of Data Science.
                <a
                  href="https://www.youtube.com/watch?v=LHBE6Q9XlzI&ab_channel=freeCodeCamp.org"
                  target="_blank"
                  >here
                </a>
                This link is a 12 hour video which will teach you python from
                scratch and also teach you all the libraries that you will use.
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h3 class="date">20th may, 2010</h3>
              <h1> Step 2 :</h1>
              <p>
                <i class="fas fa-chevron-right black"></i>
                The next part will consist of you learning about 2 different database systems ie: SQL and MongoDB, currently you can be familiar with only one of these. SQL is much more easier so starting with that would help you a lot
                <a
                  href="https://www.youtube.com/watch?v=HXV3zeQKqGY&ab_channel=freeCodeCamp.org"
                  target="_blank"
                  >here
                </a>
                This video will teach you everything about SQL
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h3 class="date">20th may, 2010</h3>
              <h1> Step 3 :</h1>
              <p>
                <i class="fas fa-chevron-right black"></i>
                This is one of the most crucial steps of the whole roadmap and that is Mathematics. You need to be comfortable with Linear algebra as you need to use formulas to filter data out.
                <a
                  href="https://www.geeksforgeeks.org/engineering-mathematics-tutorials/#alg"
                  target="_blank"
                  >here
                </a>
                This gfg course will help you brush up and learn linear algebra.
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h3 class="date">20th may, 2010</h3>
              <h1> Step 4 :</h1>
              <p>
                <i class="fas fa-chevron-right black"></i>
                This is one of the most crucial steps of the whole roadmap and that is Mathematics. You need to be comfortable with Linear algebra as you need to use formulas to filter data out.
                <a
                  href="https://www.youtube.com/watch?v=H52cgidTwXE&ab_channel=Intellipaat"
                  target="_blank"
                  >here
                </a>
                This video helps you to dive into the world of statistics and teaches you things right from the basic parts
              </p>
            </div>
          </li>
          <li>
            <div class="timeline-content">
              <h3 class="date">20th may, 2010</h3>
              <h1> Step 5 :</h1>
              <p>
                <i class="fas fa-chevron-right black"></i>
                Once you finish all these steps you have successfully learned the basics of data science and this will help you start your journey as a Data Scientist. Now the next step would be to practice what you have learnt. There is a great resource to practice your skills regarding this.

                <a
                  href="https://www.kaggle.com/"
                  target="_blank"
                  >Kaggle
                </a>
                This platform will help you practice and you can also practice competitively which will help you thrive. This resource alone could help you master Data Science.

              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- courses  -->

    <h2>COURSES</h2>

    <div class="courses">
      <div class="course-type">
        <h2>PAID COURSES</h2>
        <div class="course-inside">
          <li>This course is provided by Harvard and it has everything that we have mentioned above <a href= "http://cs109.github.io/2015/pages/videos.html
            " target="_blank">Course Link</a></li>
            <li>Course One</li>
            <li>Course One</li>
            <li>Course One</li>
          <li>Course One</li>
          <li>Course One</li>
        </div>
    </div>
    
    <div class="course-type">
        <h2>FREE COURSES</h2>

        <div class="course-inside">
            <li>This course is by IBM. It is the most in-depth course and it has everything you ever need to learn Data Science. You will also get to create projects in this course and upon completion you will also be given a certificate <a href= "https://www.coursera.org/professional-certificates/ibm-data-science
              " target="_blank"> Course Link </a></li>
            <li>Course One</li>
            <li>Course One</li>
            <li>Course One</li>
            <li>Course One</li>
            <li>Course One</li>
          <li>Course One</li>
        </div>
      </div>
    </div>

    <!-- -------------testimonial---------------- -->
    <h2>EXPERTS OPINION</h2>

    <div class="testimonial">
      <div class="smallcontainer">
        <div class="row">
          <div class="col3">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
              itaque, voluptates mollitia ullam soluta voluptate commodi odit?
              Quod et numquam temporibus neque, quis, fugiat suscipit quo,
              itaque alias necessitatibus ullam?
            </p>
            <div class="ratings">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <img src="images/people1.jpg" />
            <h3>Michael Isparo</h3>
          </div>
          <div class="col3">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
              itaque, voluptates mollitia ullam soluta voluptate commodi odit?
              Quod et numquam temporibus neque, quis, fugiat suscipit quo,
              itaque alias necessitatibus ullam?
            </p>
            <div class="ratings">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <img src="images/people2.jpg" />
            <h3>Jennifer Lawrence</h3>
          </div>
          <div class="col3">
            <i class="fas fa-quote-left"></i>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
              itaque, voluptates mollitia ullam soluta voluptate commodi odit?
              Quod et numquam temporibus neque, quis, fugiat suscipit quo,
              itaque alias necessitatibus ullam?
            </p>
            <div class="ratings">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <img src="images/people3.png" />
            <h3>Alan Mathews</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
