@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    background: #f7b888;
}

section{
    padding:2rem 9%;
    margin-bottom: 10rem;
    width: 100%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#45526c;
    font-size: 5rem;
}

.heading span{
    color: #f8f5f1;
    
}


.gallery .box-container{
    display: grid;
    gap:5rem; 
    grid-template-columns: repeat(3,1fr); 
}

.gallery .box-container .box{
    position: relative;
    border-radius: 1.5rem;
    height: 35rem;
    width: 32rem;
    cursor: pointer;
    overflow: hidden;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box:hover img{
    transform: scale(1.1);
    filter:opacity(80%);
}

.gallery .box-container .box .icons a{
    font-size: 2rem;
    margin:.5rem 1rem;
    color:#fff;
}


/* media queries  */


@media only screen and (max-width:1238px){
    .gallery .box-container{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}

@media only screen and (min-width: 350px) and (max-width:550px){
    .gallery .box-container{
        grid-template-columns: repeat(1,1fr);
        gap: 5rem;
    }
    .gallery .box-container .box{
        width: 42rem;
        height: 45rem;
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
    .gallery .box-container{
        grid-template-columns: repeat(2,1fr);
        padding-left: 20px;
}
