body{

    background-color: #F1EBE4;

}

.dropdown{

    /* display: none; */

    width: 100%;
    height:100%;

}


.navbar {
    
    background-color: #DBCCBD;

}
.navbar ul {

    display: flex ;

    width: 55%;

    justify-content: space-around;

    padding: 1.5% ;

}

.navbar ul .nav-links{
    
    list-style: none;

    font-size: 1.2em;
    
    color: #245071;

    font-weight: bolder;
}

.navbar ul .nav-links .main-link  {
    
    text-decoration: none;

}



