
body{

    background-color: #F1EBE4;

}
.heading {
  text-transform: uppercase;

  justify-content: center;

  text-align: center;

  padding-top: 3%;

    font-size: 3rem;

  color: #245071;
}

.info {
  margin: 0% 2% 2% 2%;

  padding: 2%;

    background-color :  #EAE0D7 ;

    font-size: 1.5rem;
}

h2 {
  justify-content: center;

  text-align: center;

    color: #245071;

    font-size: 2rem;
}

/* tools and tech */

.tools-tech {
  display: grid;

  /* margin-left :5%; */

  margin-top: 3%;

  grid-template-columns: repeat(4, 1fr);
}
.tools-tech .img {
  justify-content: center;

  text-align: center;
}

.tools-tech img:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.tools-tech img {
  height: 80%;

  width: 55%;

  border-radius: 2rem;

  justify-content: center;

  text-align: center;
}

/* roadmaps  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #5F7195;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #5F7195;
}

/* courses  */

.courses {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  background-color: #EAE0D7;

  margin: 5%;
}

.course-type {

  justify-content: center  ;

  text-align: center;

  background-color: #F8F5F2;

  padding: 5%;
  
  height: 80vh;

  margin: 5%;

 

}


/* testimonial */

.testimonial {
  padding-top: 100px;
}

.testimonial .col3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 60%;
}

.testimonial .col3:hover {
  transform: translateY(-10px);
}

.fas.fa-quote-left {
  font-size: 34px;
  color: darkorange;
}

.col3 p {
  font-size: 12px;
  margin: 12px 0;
  color: rgb(65, 4, 4);
}

.testimonial .col3 h3 {
  font-weight: 600;
  color: rgb(228, 124, 64);
  font-size: 16px;
}

.smallcontainer {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col3 img {
  width: 100%;
}

/* media  queries */

@media only screen and (max-width: 750px) {
  .tools-tech {
    margin-left: 6%;

    /* display: grid ; */
    grid-template-columns: 1fr 1fr;
  }

  .tools-tech img {
    height: 70%;

    width: 55%;
  }

  .courses {
    display: block;
  
    background-color: #EAE0D7;
  
    margin: 3% ;

    padding: 2%;
  }
  
  .course-type {
  
    justify-content: center  ;
  
    text-align: center;
  
    background-color: #F8F5F2;
  
    padding: 5%;
    
    height: 80vh;
  
    margin: 5% ;
  
   
  
  }
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 450px) {
  .tools-tech {
    display: block;
  }
  .tools-tech img {
    height: 65%;
    width: 40%;
  }
  .img {
    padding-top: 1%;
  }
}
